/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.mysqldata
_ide_helper.php
.phpstorm.meta.php
.php-cs-fixer.cache
/_ide_helper_models.php
